 .list {
    overflow-y: scroll;
    height: 80vh;
 }

 /* Basic styles for the list */
 #interactive-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 300px;
    border: 1px solid #ccc;
}
#interactive-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
#interactive-list li:hover {
    background-color: #f0f0f0;
}
/* Highlight selected item */
.selected {
    background-color: #cce5ff;
}

/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Search bar */
@media (prefers-color-scheme: light) {
    .search-bar {
        font: inherit;
        margin-right: 20px;
        padding: 5px;
        border-radius: 5px;
    }
}
@media (prefers-color-scheme: dark) {
    .search-bar {
        font: inherit;
        color:#A1A1AA;
        margin-right: 20px;
        padding: 5px;
        border: 1px solid #A1A1AA;
        border-radius: 5px;
        background-color: #18181B;
    }
}

/* Button styles */
.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Splitter line */
.splitter {
    width: 1px; /* Adjust thickness of the line */
    background-color: #A1A1AA; /* Color of the splitter */
    height: 30px; /* Height of the splitter */
    margin: 0 10px; /* Space around the splitter */
}

/* Content styles */
.content {
    display: flex;
    justify-content: space-between;
}

/* List styles */
.list {
    width: 48%;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Light theme styles */
body.light {
    background-color: #ffffff; /* Light background */
    color: #000000; /* Dark text */
}

body.light header,
body.light .list {
    background-color: #f0f0f0; /* Light header and list background */
    border-color: #ccc; /* Light border */
}

/* Dark theme styles */
body.dark {
    background-color: #2e2e2e; /* Dark background */
    color: #ffffff; /* Light text */
}

body.dark .list {
    background-color: #3c3c3c; /* Dark header and list background */
    border-color: #444; /* Dark border */
}

/* Default button styles */
button {
    font: inherit;
    font-size: 14px;
    border-radius: 4px;      /* Slightly rounded corners */
    border: 1px solid transparent;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    /*border: none;*/
    /*background: transparent;*/
    color: white;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 20px 20px; /* Adjust icon size */
    padding-left: 30px; /* Space for the icon */
}

.btn-search {
    background-position: center;
    padding-left: 24px;
}

/* Light theme button images */
@media (prefers-color-scheme: light) {
    button {
        border-color: #71717A;
        background-color: #f5f5f5; /* Light background */
        color: #333;               /* Dark text */
    }
    button:hover {
        background-color: #71717A;
    }

    .btn-search {
        background-image: url('images/search48_light.png');
    }
    .btn-properties {
        background-image: url('images/open48_light.png');
    }
    .btn-message {
        background-image: url('images/message48_light.png');
    }
    .btn-directory {
        background-image: url('images/web48_light.png');
    }
    .btn-legend {
        background-image: url('images/info48_light.png');
    }
    .btn-about {
        background-image: url('images/question48_light.png');
    }
}

/* Dark theme button images */
@media (prefers-color-scheme: dark) {
    button {
        border-color: #8F8F9D;
        background-color: #2B2A33; /* Dark background */
        color: #FFF;         /* Light text */
    }
    button:hover {
        background-color: #52525E;
    }

    .btn-search {
        background-image: url('images/search48_dark.png');
    }
    .btn-properties {
        background-image: url('images/open48_dark.png');
    }
    .btn-message {
        background-image: url('images/message48_dark.png');
    }
    .btn-directory {
        background-image: url('images/web48_dark.png');
    }
    .btn-legend {
        background-image: url('images/info48_dark.png');
    }
    .btn-about {
        background-image: url('images/question48_dark.png');
    }
}